@model IEnumerable<GameVault.Models.Jogo>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JogoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JogoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JogoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
